/* ^BG/COLORS UTILITIES */
.bg-light-blue{
    background-color: rgb(27, 114, 232);
}

.bg-blue{
    background-color: rgb(5, 30, 52);
}

.bg-cs-gray{
    color: rgb(229, 229, 229);
}

/* ^GENERICS */
body{
    overflow: auto;
}



/* ^UTILITIES */
.container{
    border: 2px dotted red;
}

.container-fluid{
    border: 2px dotted red;
}
[class^="row"]{
    
    border: 2px solid green;
}

[class^="col"]{
    /* min-height: 50px; */
    border: 1px solid gold;
}


/* ^HEADER */
header .col img{
    max-width: 65px;
}

.form-control,
.input-group-text{
    background-color: rgb(229, 229, 229);
    line-height: 1.8rem;
}

/* ^MAIN */
/* *SIDE NAVBAR */
nav{
    height: calc(100vh - 60px);
    width: 70px;
    border: 2px solid blue;
    position: relative;
    display: inline;
}

.row-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* *NESTED HEADER */
#nested-header{
    max-height: 200px;
}